/* .container-fluid{
    background-image: url(bg-image.jpg);
    background-position: center;
    background-size: cover;
    background-attachment: fixed;
    opacity: 0.6;
    background-image: linear-gradient(to top, rgba(0, 0, 0, 0.8) 0, rgba(0, 0, 0, 0) 60%, rgba(0, 0, 0, 0.8)100%);
    
} */
#container-fluid {
    background-image: linear-gradient(to top, rgba(0,0,0,0.9) 0,  rgba(0, 0, 0, 0) 60%, rgba(0, 0, 0, 0.8)), url('bg-image.jpg');
    background-size: cover;
    background-position: center;
    background-attachment: relative;
    border-bottom: 5px solid grey;
  }
  .fluid-2{
    border-bottom: 5px solid grey;

  }
 main{
    margin-top: 140px;
    padding-bottom: 80px;
 }
accordion-icon-color{
  color: white;
}
.text-grey{
color: grey;
}
.text-grey:hover{
 color:grey;
}

 @media screen and (max-width:768px){
main{
    padding-bottom: 0px;
}
 }